#heatmapDiv {  
image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

:root {
  --leftPosition: 50vw;
  --widthLength: 50vw;
}

:host{
  position: fixed;
  top:0;
  left: var(--leftPosition);
  width: var(--widthLength);
  height: 100vh;
  background-color: dimgray;

}
