/* ||Styles for the main divs|| */

app-background {
  z-index: -1;
  position: fixed;
  left: 0px;
  top: 0px;
}

@font-face {
  font-family: lato;
  src: url(../assets/MLTWNII_.ttf) format("opentype");
}

/* A div for the title and flavour text*/
.TitleDiv {
  background-color: rgba(0,0,0,0);
  width: 100%;
  overflow: hidden;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'lato', 'arial', sans-serif;
  color: #28a745;
  padding-top: 40px;
}

/* A div for choosing a dataset */
.DatasetDiv {
  background-color: #adadad;
  width: 50%;
  overflow: hidden;
  margin: auto;
  border: 3px solid black;
  border-radius: 8px;
  margin-bottom: 50px;
  padding: 10px;
}