<!--Container Home Page -->
<div class="container-fluid">
  <div class="row">
    <div class="col-4 offset-md-4" id="Title" class="TitleDiv">
      <h1>the matrix: visualized</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-md-4" id="Flavour" class="DatasetDiv">
      <p>
        Welcome to The Matrix: Visualized, a visualization tool for visualizing networks.
        Both node-link diagrams and adjacency matrices can be used to visualize your network.
        A dataset can be uploaded or selected below. There are two types of datasets supported,
        bot .csv files, either seperated by ';', or a table with the columns 'SOURCE', 'TARGET', 'WEIGHT' and 'TIME'.
      </p>
      <p>
        Data in de node-link diagram can be selected by left clicking on nodes, and data in the heatmap
        can be selected by using the right mouse button.
      </p>
      <p>
        Settings can be changed in the sidebar, activated by one of the four buttons in the top left corner.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-md-3" id="DatasetDiv" class="DatasetDiv">
      <app-datasets (loadedEvent)="showStart()" (datasetEvent)="visualisation.datasetSelected($event)"></app-datasets>
    </div>
  </div>
  <div class="row">
    <div id="StartButton" class="col-4 offset-md-4">
      <button type="button" class="btn btn-success btn-lg btn-block" (click)="ShowVis()">Show Visualization</button>
    </div>
  </div>
</div>
<!--Visualization-->
<div id="Vis">
      <app-parent (hideVisuals)="HideVis()" #visualisation></app-parent>
</div>
<!--Background-->
<app-background id="matrixBackground"> </app-background>
