:host /deep/ ng-sidebar-container {
  height: 100vh;
  background-color: transparent;
}

.colorPicker {
  border-radius: 20px;
  cursor: pointer;
}

.justText {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: default;
}

.centerButton {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -28px;
  width: 60px;
  height: 60px;
  height: auto;
  transform: rotate(90deg);
  cursor: pointer;
  z-index: 101;
  border-radius: 50%;
}

.centerButton:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5) inset;
  transform: scaleY(1.1) scaleX(1.1) rotate(90deg);
}


:host /deep/ .ng-sidebar-container::-webkit-scrollbar { width: 0 !important }

.vertical {
  width:5px;
  background-color:#000;
  position: fixed;
  top:0;
  bottom:0;
  left:50%;
  z-index: 100;
}
:host /deep/ .ng-sidebar::-webkit-scrollbar { width: 0 !important }

:host /deep/ .ng-sidebar {
  background-color: silver;
  color: black;
  padding: 10px;
  width: 25vw;
  right: 0;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.button1 {
  position: fixed;
  left: 25px;
  top: 25px;
  display: block;
  width: 50px;
  height: 50px;
}

img {
  width: 100%;
  height:auto;
}

.button4 {
  position: fixed;
  left: 85px;
  top: 85px;
  display: block;
  width: 50px;
  height: 50px;
}

.button2 {
  position: fixed;
  left: 85px;
  top: 25px;
  display: block;
  width: 50px;
  height: 50px;
}

.button3 {
  position: fixed;
  left: 25px;
  top: 85px;
  display: block;
  width: 50px;
  height: 50px;
}

.selection {
  background-color: #E2E6EA;
  width: auto;
  overflow: hidden;
  margin: auto;
  border: 1px solid green;
  border-radius: 8px;
  padding: 10px;
  position: fixed;
  left: 25px;
  bottom: 25px;
  z-index: 5;
}

.dataTable {
  table-layout: fixed;
  width: 100%;
}

ul {
  list-style-type: none;
}

.selectionTable th, td {
  padding: 2px;
  text-align: left;
}

.right {
  text-align: right;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
  /*background: #ffe4d1;*/
  height: 2px;
}


::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  /*background-color: #333;*/
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
  display: none;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-bubble {
  bottom: 14px;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-limit {
  font-weight: bold;
  color: orange;
}
