  <head></head>
  <ng-sidebar-container>

        <!-- The actual sidebar -->
        <ng-sidebar [(opened)]="_opened" position="right" mode="over" id="sidebar">

          <button class="justText" tabindex="-1">
          <h3>Settings</h3>
          </button>

          <hr>

          <div class="colorSel">
            <table>
              <tr>
                <td>
                  <h6>Selection color </h6>
              </td>
              <td>
                <input tabindex="-1" id="selectionColorPicker" [(colorPicker)]="colorPickerSel"
                       cpPosition="bottom"
                       [style.background]="colorPickerSel"
                       (cpSliderDragEnd)="onEventLogSel($event)"
                       (cpInputChange)="onEventLogSel($event)"
                       [cpAlphaChannel]="'disabled'" class="colorPicker"/>
                </td>
              </tr>
            </table>
          </div>

          <div *ngIf="graph" class="graphsettings">
            <hr>
            <h6>Graph</h6>
            <!-- slider -->
            <div class='custom-slider'>
              <label>Filter edges on weight </label>
              <br>
            <ng5-slider [(value)]="value"
                          [(highValue)]="highValue"
                          [options]="options"
                          (userChangeEnd)="onUserChangeEnd($event);"
                          [manualRefresh]="manualRefresh">
            </ng5-slider>
            </div>

            <br>

            <label> Choose layout for the graph </label><br>
            <!-- button for redraw circular -->
            <button type="button" class="btn btn-success mr-1" (click)="redrawCircle()">
              Draw Radial
            </button>

            <!-- button for redraw circular -->
            <button type="button" class="btn btn-success mr-1" (click)="redrawArch()">
              Draw Arch
            </button>
          <br>
          <br>
            <!-- button for redraw random -->
            <button type="button" class="btn btn-success mr-1" (click)="redrawRandom()">
              Draw Random
            </button>

            <button *ngIf="hasHierarchy" type="button" class="btn btn-success mr-1" (click)="redrawDendro()">
              Draw dendrogram
            </button>

            <!-- button for clustering -->
            <button *ngIf="hasCluster" id="clusterButt" type="button" class="btn btn-success mr-1" (click)="clusterGraph()">
              Cluster
            </button>

            <!-- button for taking snapshot -->
            <br><br>
            <label> Download a screenshot of the graph</label><br>
            <button type="button" class="btn btn-success" (click)="snapShot()">
              Download Snapshot
            </button>
          </div>

          <div *ngIf="heatmap" class="heatmapsettings">
            <hr>
            <h6>Heatmap</h6>
            <table>
              <tr>
                <td>
                  <label> Choose reordering for the heatmap </label>
                </td>
                <td>
                  <select [(ngModel)]="selectedLayout" (ngModelChange)="updateLayout()">
                    <option *ngFor="let layout of layouts" [ngValue]="layout">{{layout}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Download a screenshot of the heatmap</label>
                </td>
                <td>
                  <button id="snapButt" type="button" class="btn btn-success" (click)="snapShotHeatmap($event)">Download Snapshot</button>
                </td>
              </tr>
            </table>
          </div>

          <div *ngIf="graph" class="graphColors">
            <hr>
            <h6>Node-link colors</h6>

            <table>
              <tr>
                <td>
                  <label>Color for huge nodes:</label>
                </td>
                <td>
                  <input tabindex="-1" [(colorPicker)]="hugeColor"
                         cpPosition="bottom"
                         [style.background]="hugeColor"
                         (cpSliderDragEnd)="onHuge($event)"
                         (cpInputChange)="onHuge($event)"
                         [cpAlphaChannel]="'disabled'" class="colorPicker"/>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Color for large nodes:</label>
                </td>
                <td>
                  <input tabindex="-1" [(colorPicker)]="largeColor"
                         cpPosition="bottom"
                         [style.background]="largeColor"
                         (cpSliderDragEnd)="onLarge($event)"
                         (cpInputChange)="onLarge($event)"
                         [cpAlphaChannel]="'disabled'" class="colorPicker"/>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Color for medium nodes:</label>
                </td>
                <td>
                  <input tabindex="-1" [(colorPicker)]="mediumColor"
                       cpPosition="bottom"
                       [style.background]="mediumColor"
                       (cpSliderDragEnd)="onMedium($event)"
                       (cpInputChange)="onMedium($event)"
                       [cpAlphaChannel]="'disabled'" class="colorPicker"/>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Color for small nodes:</label>
                </td>
                <td>
                  <input tabindex="-1" [(colorPicker)]="smallColor"
                         cpPosition="bottom"
                         [style.background]="smallColor"
                         (cpSliderDragEnd)="onSmall($event)"
                         (cpInputChange)="onSmall($event)"
                         [cpAlphaChannel]="'disabled'" class="colorPicker"/>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Color for tiny nodes:</label>
                </td>
                <td>
                  <input tabindex="-1" [(colorPicker)]="tinyColor"
                         cpPosition="bottom"
                         [style.background]="tinyColor"
                         (cpSliderDragEnd)="onTiny($event)"
                         (cpInputChange)="onTiny($event)"
                         [cpAlphaChannel]="'disabled'" class="colorPicker"/>
                </td>
              </tr>
            </table>
          </div>


          <div *ngIf="heatmap" class="heatmapColors">
            <hr>
            <h6>Heatmap colors</h6>
            <label>Choose what coloring scheme you want to use</label>
            <br>
            <select [(ngModel)]="currentMode" (ngModelChange)="switchMode()">
              <option value="grayscale" selected>grayscale</option>
              <option value="full color" >full color</option>
            </select>

            <div *ngIf="currentModeBool"><br>
              <table>
                <tr>
                  <td>
              <label>Color of the heatmap: </label>
                  </td>
                <td>
            <input tabindex="-1" [(colorPicker)]="colorPickerHeat"
                   cpPosition="bottom"
                   [style.background]="colorPickerHeat"
                   (cpSliderDragEnd)="onEventLogHeat($event)"
                   (cpInputChange)="onEventLogHeat($event)"
                   [cpAlphaChannel]="'disabled'" class="colorPicker"/>
                </td>
                </tr>
                <tr>
                  <td>
              <label>Color of the background: </label>
                  </td>
                  <td>
              <input tabindex="-1" [(colorPicker)]="backGroundColor"
                     cpPosition="bottom"
                     [style.background]="backGroundColor"
                     (cpSliderDragEnd)="setBackground($event)"
                     (cpInputChange)="setBackground($event)"
                     [cpAlphaChannel]="'disabled'" class="colorPicker"/>
                  </td>
                </tr>
              </table>
            </div>

            <div *ngIf="!currentModeBool"><br>
              <table>
                <tr>
                  <td>
                    <label>Color for huge weight edges:</label>
                  </td>
                  <td>
                    <input tabindex="-1" [(colorPicker)]="hugeColor2"
                           cpPosition="bottom"
                           [style.background]="hugeColor2"
                           (cpSliderDragEnd)="hugeHeatmap($event)"
                           (cpInputChange)="hugeHeatmap($event)"
                           [cpAlphaChannel]="'disabled'" class="colorPicker"/>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Color for large weight edges:</label>
                  </td>
                  <td>
                    <input tabindex="-1" [(colorPicker)]="largeColor2"
                           cpPosition="bottom"
                           [style.background]="largeColor2"
                           (cpSliderDragEnd)="largeHeatmap($event)"
                           (cpInputChange)="largeHeatmap($event)"
                           [cpAlphaChannel]="'disabled'" class="colorPicker"/>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Color for medium weight edges:</label>
                  </td>
                  <td>
                    <input tabindex="-1" [(colorPicker)]="mediumColor2"
                         cpPosition="bottom"
                         [style.background]="mediumColor2"
                         (cpSliderDragEnd)="mediumHeatmap($event)"
                         (cpInputChange)="mediumHeatmap($event)"
                         [cpAlphaChannel]="'disabled'" class="colorPicker"/>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Color for small weight edges:</label>
                  </td>
                  <td>
                    <input tabindex="-1" [(colorPicker)]="smallColor2"
                           cpPosition="bottom"
                           [style.background]="smallColor2"
                           (cpSliderDragEnd)="smallHeatmap($event)"
                           (cpInputChange)="smallHeatmap($event)"
                           [cpAlphaChannel]="'disabled'" class="colorPicker"/>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Color for tiny weight edges:</label>
                  </td>
                  <td>
                    <input tabindex="-1" [(colorPicker)]="tinyColor2"
                           cpPosition="bottom"
                           [style.background]="tinyColor2"
                           (cpSliderDragEnd)="tinyHeatmap($event)"
                           (cpInputChange)="tinyHeatmap($event)"
                           [cpAlphaChannel]="'disabled'" class="colorPicker"/>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Background color of graph: </label>
                  </td>
                  <td>
                    <input tabindex="-1" [(colorPicker)]="backGroundColor"
                           cpPosition="bottom"
                           [style.background]="backGroundColor"
                           (cpSliderDragEnd)="setBackground($event)"
                           (cpInputChange)="setBackground($event)"
                           [cpAlphaChannel]="'disabled'" class="colorPicker"/>
                  </td>
                </tr>
              </table>
            </div>
          </div>


          <div *ngIf="graph" class="graphsettings">
            <hr>
            <h6>Sandbox</h6>
            <label> Iterations per Render: &nbsp;</label>
            <input id="iterRender" type="number" name="iterRender" min="1" max="1000" value="1">
            <br>
            <label> Edge weight influence: &nbsp;</label>
            <input id="edgeWeight" type="number" name="edgeWeight" min="0" max="100" value="100"> <br>
            <input type="checkbox" id="linLogMode" name="linLogMode" value="on"> &nbsp; Tight Clusters  <br>
            <input type="checkbox" id="outAttDist" name="outAttDist" value="on" checked> &nbsp; Outbound Attraction Distribution <br><br>
            <button id="forceButt" type="button" class="btn btn-success" (click)="startForce()">Start Force</button>
          </div>

          <div class="tableSearch" id="tableSearch">
            <hr>
            <h6> Search & Select </h6>
            <input tabindex="0" id="search" (input)="searchQuery($event)" placeholder="Search Name or ID" title="Search here" style="width:100%">
            <table class="dataTable" id="dataTable" (click)="tableSelect($event)">
              <tr class="tableHeader">
                <th class="first">Name</th>
                <th class="second">ID</th>
                <th class="second">Cluster</th>
                <th class="second">Degree</th>
              </tr>
            </table>
          </div>

        </ng-sidebar>



      <div ng-sidebar-content>

        <div *ngIf="heatmap && graph" class="vertical">&nbsp;</div>

        <div *ngIf="selected" id="selection" class="selection">
          <table  class="selectionTable">
            <tr>
              <th class="right"><b>{{fromNode ? 'Source:' : ''}}</b></th>
              <th>{{fromNode ? fromNode : ''}}</th>
            </tr>
            <tr>
              <th class="right"><b>{{toNode ? 'Target:' : ''}}</b></th>
              <th>{{toNode ? toNode : ''}}</th>
            </tr>
            <tr>
              <th class="right"><b>{{weight ? 'Weight:' : ''}}</b></th>
              <th>{{weight ? weight : ''}}</th>
            </tr>
            <tr>
              <th class="right"><b>{{cluster ? 'Cluster:' : ''}}</b></th>
              <th>{{cluster ? cluster : ''}}</th>
            </tr>
            <tr>
              <th class="right"><b>{{degree ? 'Degree:' : ''}}</b></th>
              <th>{{degree ? degree : ''}}</th>
            </tr>
            <tr>
              <th><button *ngIf="counter > 0 && !singleNode && !singleEdge" id="sidebarButton" type="button" class="btn btn-light" (click)="decrement()">
                <img src="../../assets/svg/arrow-left.svg">
              </button></th>
              <th><button *ngIf="counter < datasetsize - 1 && !singleNode && !singleEdge" id="sidebarButton" type="button" class="btn btn-light" (click)="increment()">
                <img src="../../assets/svg/arrow-right.svg">
              </button></th>
            </tr>
          </table>
        </div>

      <div *ngIf="dataset" class="row">
          <div class="col" [hidden]="!graph">
            <app-graph [dataset]="dataset" (selectedEvent)="updateSelected($event)"
                       [selectedInput]="selectedData" [sandboxSettings]="sandboxSettings"></app-graph>
          </div>
          <div class="col" [hidden]="!heatmap">
            <app-heatmap [dataset]="dataset" (selectedEvent)="updateSelected($event)"
                         [selectedInput]="selectedData" [selectedLayout]="selectedLayout"
                         [colorArray]="colorArray"></app-heatmap>
          </div>
      </div>

      <div *ngIf="graph && heatmap" class="swapWrapper">
        <img src="../../assets/swapIcon.png" class="centerButton" (click)="swapVis()">
      </div>

<!--    <div class="buttons">-->
      <!-- Back button     -->
      <button type="button" class="button1 btn btn-light"
      (click)="hideVis()">
        <img src="../../assets/svg/chevron-left.svg">
      </button>

      <!-- Sidebar button     -->
      <button id="sidebarButton" type="button" class="button2 btn btn-light"
      [class.active]="_opened"
      (click)="toggleSidebar()">
        <img src="../../assets/svg/align-right.svg">
      </button>

      <!-- nodelink button     -->
      <button id="nodelinkButton" type="button" class="button3 btn btn-light active"
      [class.active]="graph"
      (click)="toggleGraph()">
        <img src="../../assets/svg/fork.svg">
      </button>

      <!--  Heatmap button    -->
      <button id="heatmapButton" type="button" class="button4 btn btn-light"
      [class.active]="heatmap"
      (click)="toggleHeatmap()">
        <img src="../../assets/svg/grid-two-up.svg">
      </button>
    </div>

  </ng-sidebar-container>
