<div class="dataset-container">

  <h4>Select a dataset</h4>

  <!--  Total selecting group-->
  <div class="selecting" style="padding:10px">

    <!-- getting all the options-->
    <div class="input-group mb-3">
      <select [(ngModel)]="dataset" (ngModelChange)="selectDataset(dataset)" class="custom-select" id="inputGroupSelect02">
        <option *ngFor="let dataset of datasets" [ngValue]="dataset">{{dataset}}</option>
      </select>

      <!-- last part for loading spinnger -->
      <div *ngIf="loading" class="input-group-append">
        <button class="input-group-text" type="button" disabled>
          <span  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span class="sr-only">Loading...</span>
        </button>
      </div>

      <!-- last part for loading spinnger -->
      <div *ngIf="isLoaded && !loading" class="input-group-append">
        <button class="input-group-text" type="button" disabled>
          <img src="../../assets/svg/check.svg" style="width: 100%; height: 100%">
        </button>
      </div>

    </div>

  </div>

  <h4>Upload a dataset</h4>

  <div class="uploading" style="padding:10px">

  <!-- Form shit -->
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="input-group">

    <div class="input-group-prepend">
      <button class="input-group-text" type="submit" id="inputGroupFileAddon02">
        <div *ngIf="boolProgress" style="margin:auto">
          <span  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span class="sr-only">Loading...</span>
        </div>

        <div *ngIf="!boolProgress && isDone" style="margin:auto">
          <img src="../../assets/svg/check.svg" style="width: 100%; height: 100%">
        </div>

        <div *ngIf="!boolProgress && !isDone" style="margin:auto">
          Upload
        </div>
      </button>
    </div>

    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile04"
             aria-describedby="inputGroupFileAddon04" (change)="onFileChange($event)">
      <label class="custom-file-label" for="inputGroupFile04">{{(uploadfile && uploadfile.name) || "Please choose file"}}</label>
    </div>

  </div>

  </form>

</div>

</div>
