#sigmaContainer {
  position: absolute;
}

.standalone {
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

:host{
  position: fixed;
  top:0;
  left: 0vw;
  width: 50vw;
  height: 100vh;
}

.combined {
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
}

.swapped {
  top: 0;
  left: 50vw;
  width: 50vw;
  height: 100vh;
}
